{% extends '/base.html.twig' %}

{% block title %}Pause{% endblock %}

{% block body %}
<div class="container">
    <h2>Gestion des pauses</h2>
    <form method="POST" id="filterForm">
      <input type="text" class="datepicker" name="filter_date" value="{{ date_filter|date("d/m/Y") }}" id="filterInput">
    </form>
    {% if is_granted('ROLE_ADMIN') %}
      <a class="waves-effect waves-light btn modal-trigger" style="width:100%; marin-bottom:20px;" href="#modal1">Ajouter une pause</a>
    {% endif %}
    <div class="row">
        <div class="col m6">
            <ul class="collapsible">
                {% for step in time_steps %}
                  {% if not loop.index is even %}
                      <li>
                          <div class="collapsible-header {{step.color}}" style="display: block;">{{step.time}} <div class="right" style="margin-right: 10px;">{{ step.taken }}/{{ step.allowed }} {% if step.allowed_adm > 0 %}(+{{step.allowed_adm}}){% endif %}</div></div>
                          <div class="collapsible-body">
                          <ul class="collection with-header">
                              {% for break in step.breaks %}
                                <li class="collection-item"><div>{{ break.userid.firstname }}, {{ break.userid.lastname }}<a href="/admin/break/remove/{{ break.id }}" class="secondary-content"><i class="material-icons">delete</i></a></div></li>
                              {% endfor %}
                          </ul>
                          </div>
                      </li>
                  {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col m6">
            <ul class="collapsible">
                {% for step in time_steps %}
                {% if loop.index is even %}
                      <li>
                          <div class="collapsible-header {{step.color}}" style="display: block;">{{step.time}} <div class="right" style="margin-right: 10px;">{{ step.taken }}/{{ step.allowed }} {% if step.allowed_adm > 0 %}(+{{step.allowed_adm}}){% endif %}</div></div>
                          <div class="collapsible-body">
                          <ul class="collection with-header">
                              {% for break in step.breaks %}
                                <li class="collection-item"><div>{{ break.userid.firstname }}, {{ break.userid.lastname }}<a href="/admin/break/remove/{{ break.id }}" class="secondary-content"><i class="material-icons">delete</i></a></div></li>
                              {% endfor %}
                          </ul>
                          </div>
                      </li>
                  {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

  {% if is_granted('ROLE_ADMIN') %}
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Ajouter une pause</h4>
        {{ form_start(form) }}
        {{ form_row(form.time) }}
        {{ form_row(form.user_id) }}
        <button class="waves-effect waves-light btn" type="submit">valider</button>
        {{ form_end(form) }}
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}

  {% block js %}
  <script>
    $(document).ready(function(){
        inter_fr = {
          labelMonthNext: 'Mois suivant',
          labelMonthPrev: 'Mois précédent',
          labelMonthSelect: 'Selectionner le mois',
          labelYearSelect: 'Selectionner une année',
          months: [ 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre' ],
          monthsShort: [ 'Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Jun', 'Jul', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec' ],
          weekdaysFull: [ 'Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi' ],
          weekdaysShort: [ 'Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam' ],
          weekdaysLetter: [ 'D', 'L', 'Ma', 'Me', 'J', 'V', 'S' ],
          today: 'Aujourd\'hui',
          clear: 'Réinitialiser',
          close: 'Fermer',
          cancel: 'Annuler',
          done: 'Valider',
        }
        Date.prototype.addDays = function(days) {
            var date = new Date(this.valueOf());
            date.setDate(date.getDate() + days);
            return date;
        }
        date = new Date();
        $('.datepicker').datepicker({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 2, // Creates a dropdown of 15 years to control year
            i18n: inter_fr,
        	format: 'dd/mm/yyyy',
        });
        $('.datepicker').datepicker("setDate", new Date("{{ date_filter|date("Y-m-d") }}"));
      });
      $( "#filterInput" ).change(function() {
        $("#filterForm").submit()
      });
  </script>
  {% endblock %}