{% extends 'base.html.twig' %}

{% block title %}Pause{% endblock %}

{% block body %}
    <div class="container">
      <h2>Configuration</h2>
      <div class="row">
        <h4>Export</h4>
        <div class="row">
          <h5>Pauses</h5>
            <form action="/admin/export" method="POST" enctype="multipart/form-data">
                <div class="input-field col s12">
                    <label for="filterInputStart">Date de début</label>
                    <input type="text" class="datepicker" name="filter_date_start" value="{{ "now"|date("d/m/Y") }}" id="filterInputStart">
                </div>
                <div class="input-field col s12">
                    <label for="filterInputEnd">Date de fin</label>
                    <input type="text" class="datepicker" name="filter_date_end" value="{{ "now"|date("d/m/Y") }}" id="filterInputEnd">
                </div>
                <input type="hidden" name="typeForm" value="break">
                <button class="btn waves-effect col s12 green" type="submit">Telecharger</button>
            </form>
        </div>
        <div class="row">
          <h5>Récup</h5>
            <form action="/admin/export" method="POST" enctype="multipart/form-data">
                <div class="input-field col s12">
                    <label for="filterInputStart">Date de début</label>
                    <input type="text" class="datepicker" name="filter_date_start" value="{{ "now"|date("d/m/Y") }}" id="filterInputStart">
                </div>
                <div class="input-field col s12">
                    <label for="filterInputEnd">Date de fin</label>
                    <input type="text" class="datepicker" name="filter_date_end" value="{{ "now"|date("d/m/Y") }}" id="filterInputEnd">
                </div>
                <input type="hidden" name="typeForm" value="recovery">
                <button class="btn waves-effect col s12 green" type="submit">Telecharger</button>
            </form>
        </div>
        {% if not errors is empty %}
        <div class="row">
            <h5>Erreurs</h5>
            {% for error in errors %}
                <div class="card-panel red lighten-3">{{ error }}</div>
            {% endfor %}
        </div>
        {% endif %}
{% endblock %}

  {% block js %}
  <script>
    $(document).ready(function(){
        inter_fr = {
          labelMonthNext: 'Mois suivant',
          labelMonthPrev: 'Mois précédent',
          labelMonthSelect: 'Selectionner le mois',
          labelYearSelect: 'Selectionner une année',
          months: [ 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre' ],
          monthsShort: [ 'Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Jun', 'Jul', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec' ],
          weekdaysFull: [ 'Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi' ],
          weekdaysShort: [ 'Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam' ],
          weekdaysLetter: [ 'D', 'L', 'Ma', 'Me', 'J', 'V', 'S' ],
          today: 'Aujourd\'hui',
          clear: 'Réinitialiser',
          close: 'Fermer',
          cancel: 'Annuler',
          done: 'Valider',
        }
        Date.prototype.addDays = function(days) {
            var date = new Date(this.valueOf());
            date.setDate(date.getDate() + days);
            return date;
        }
        date = new Date();
        $('.datepicker').datepicker({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 2, // Creates a dropdown of 15 years to control year
            i18n: inter_fr,
        	format: 'dd/mm/yyyy',
        });
      });
  </script>
  {% endblock %}