<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_003{font-family:"Verdana",serif;font-size:7.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:"Verdana",serif;font-size:7.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:"Verdana Bold",serif;font-size:7.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:"Verdana Bold",serif;font-size:7.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:"Verdana Bold",serif;font-size:8.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:"Verdana Bold",serif;font-size:8.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:"Verdana",serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:"Verdana",serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:"Verdana",serif;font-size:8.1px;color:rgb(0,74,130);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:"Verdana",serif;font-size:8.1px;color:rgb(0,74,130);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:"Verdana",serif;font-size:6.0px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_012{font-family:"Verdana",serif;font-size:6.0px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="/lib/wh/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="/lib/wh/background1.jpg" width=595 height=841></div>
<div style="position:absolute;left:198.26px;top:8.20px" class="cls_003"><span class="cls_003">Référence Document</span></div>
<div style="position:absolute;left:367.51px;top:8.20px" class="cls_003"><span class="cls_003">Version</span></div>
<div style="position:absolute;left:198.14px;top:20.08px" class="cls_004"><span class="cls_004">ERQ-FR.GA.RH.PR-</span></div>
<div style="position:absolute;left:374.11px;top:15.16px" class="cls_004"><span class="cls_004">V.1</span></div>
<div style="position:absolute;left:478.54px;top:23.92px" class="cls_003"><span class="cls_003">Qualification</span></div>
<div style="position:absolute;left:222.89px;top:29.80px" class="cls_004"><span class="cls_004">GTA-2</span></div>
<div style="position:absolute;left:451.27px;top:30.76px" class="cls_004"><span class="cls_004">Changement de planning</span></div>
<div style="position:absolute;left:218.45px;top:43.84px" class="cls_003"><span class="cls_003">Rédacteur</span></div>
<div style="position:absolute;left:371.23px;top:42.16px" class="cls_003"><span class="cls_003">Date</span></div>
<div style="position:absolute;left:209.57px;top:50.68px" class="cls_004"><span class="cls_004">Collaborateur</span></div>
<div style="position:absolute;left:354.79px;top:53.92px" class="cls_004"><span class="cls_004">19/11/2019</span></div>
<div style="position:absolute;left:227.93px;top:85.00px" class="cls_007"><span class="cls_007">Informations Générales et Validation</span></div>
<div style="position:absolute;left:63.84px;top:96.66px" class="cls_008"><span class="cls_008">Date du jour : </span><span class="cls_009">{{ 'now'|date('d/m/Y') }}</span></div>
<div style="position:absolute;left:63.84px;top:108.42px" class="cls_008"><span class="cls_008">Nom : </span><span class="cls_009">{{ recovery.userid.lastname }}</span></div>
<div style="position:absolute;left:426.19px;top:108.42px" class="cls_008"><span class="cls_008">Projet / Service : EDF</span></div>
<div style="position:absolute;left:63.84px;top:120.18px" class="cls_008"><span class="cls_008">Prénom : </span><span class="cls_009">{{ recovery.userid.firstname }}</span></div>
<div style="position:absolute;left:63.84px;top:153.30px" class="cls_008"><span class="cls_008">Validation service planification :</span></div>
<div style="position:absolute;left:304.85px;top:153.30px" class="cls_008"><span class="cls_008">Nom du signataire :</span></div>
<div style="position:absolute;left:63.84px;top:165.06px" class="cls_008"><span class="cls_008">Date :</span></div>
<div style="position:absolute;left:253.85px;top:191.70px" class="cls_007"><span class="cls_007">Demande de planification</span></div>
<div style="position:absolute;left:63.84px;top:208.14px" class="cls_008"><span class="cls_008">Date(s) planifiée(s) à modifier :</span></div>
<div style="position:absolute;left:304.61px;top:208.14px" class="cls_008"><span class="cls_008">Horaires planifiés à modifier :</span></div>
<div style="position:absolute;left:305.81px;top:219.90px" class="cls_008"><span class="cls_008">Nouveaux horaires :</span></div>
<div style="position:absolute;left:63.84px;top:231.66px" class="cls_008"><span class="cls_008">Demandeur :</span></div>
<div style="position:absolute;left:63.84px;top:243.30px" class="cls_010"><span class="cls_010">☐</span><span class="cls_008"> Production/service</span></div>
<div style="position:absolute;left:63.84px;top:255.78px" class="cls_010"><span class="cls_010">☐</span><span class="cls_008"> Salarié :</span></div>
<div style="position:absolute;left:305.69px;top:255.78px" class="cls_008"><span class="cls_008">Validation hiérarchique :</span></div>
<div style="position:absolute;left:308.57px;top:268.14px" class="cls_010"><span class="cls_010">☐</span><span class="cls_008">  Accepté</span></div>
<div style="position:absolute;left:367.75px;top:268.14px" class="cls_010"><span class="cls_010">☐</span><span class="cls_008"> Refusé</span></div>
<div style="position:absolute;left:63.84px;top:280.53px" class="cls_008"><span class="cls_008">Signature du demandeur :</span></div>
<div style="position:absolute;left:305.57px;top:280.53px" class="cls_008"><span class="cls_008">Nom :</span></div>
<div style="position:absolute;left:305.81px;top:292.29px" class="cls_008"><span class="cls_008">Date :</span></div>
<div style="position:absolute;left:302.93px;top:303.93px" class="cls_008"><span class="cls_008">Signature :</span></div>
<div style="position:absolute;left:253.01px;top:332.13px" class="cls_007"><span class="cls_007">Demande de récupération</span></div>
<div style="position:absolute;left:63.84px;top:348.57px" class="cls_008"><span class="cls_008">Solde à</span></div>
<div style="position:absolute;left:492.34px;top:348.57px" class="cls_008"><span class="cls_008">Solde Restant</span></div>
<div style="position:absolute;left:254.45px;top:353.49px" class="cls_008"><span class="cls_008">Demande période d’absence</span></div>
<div style="position:absolute;left:63.84px;top:358.41px" class="cls_008"><span class="cls_008">récupérer</span></div>
<div style="position:absolute;left:492.34px;top:358.41px" class="cls_008"><span class="cls_008">après récup.</span></div>
<div style="position:absolute;left:141.26px;top:370.53px" class="cls_008"><span class="cls_008">Date : </span><span class="cls_009">{{ recovery.date|date('d/m/Y') }}</span></div>
<div style="position:absolute;left:141.26px;top:382.29px" class="cls_008"><span class="cls_008">Récupération :</span></div>
<div style="position:absolute;left:141.26px;top:393.93px" class="cls_008"><span class="cls_008">De : </span><span class="cls_009">{{ recovery.timeFrom|date('H:i') }}</span></div>
<div style="position:absolute;left:141.26px;top:405.69px" class="cls_008"><span class="cls_008">A : </span><span class="cls_009">{{ recovery.timeTo|date('H:i') }}</span></div>
<div style="position:absolute;left:141.26px;top:417.45px" class="cls_008"><span class="cls_008">Total récupéré : </span><span class="cls_009">%Minutes%</span></div>
<div style="position:absolute;left:63.84px;top:429.69px" class="cls_008"><span class="cls_008">Signature du demandeur :</span></div>
<div style="position:absolute;left:305.57px;top:429.69px" class="cls_008"><span class="cls_008">Validation hiérarchique :</span></div>
<div style="position:absolute;left:305.81px;top:441.33px" class="cls_008"><span class="cls_008">Nom : </span><span class="cls_009">{{ app.user.lastname }}</span></div>
<div style="position:absolute;left:305.81px;top:453.09px" class="cls_008"><span class="cls_008">Date : </span><span class="cls_009">{{ 'now'|date('d/m/Y') }}</span></div>
<div style="position:absolute;left:305.81px;top:464.87px" class="cls_008"><span class="cls_008">Signature :</span></div>
<div style="position:absolute;left:241.49px;top:495.95px" class="cls_007"><span class="cls_007">Demande d’échange d’horaires</span></div>
<div style="position:absolute;left:222.41px;top:507.71px" class="cls_008"><span class="cls_008">(Possible uniquement sur un même service)</span></div>
<div style="position:absolute;left:161.42px;top:522.83px" class="cls_008"><span class="cls_008">Demandeur</span></div>
<div style="position:absolute;left:417.67px;top:522.83px" class="cls_008"><span class="cls_008">Acceptant</span></div>
<div style="position:absolute;left:63.84px;top:536.27px" class="cls_008"><span class="cls_008">Nom :</span></div>
<div style="position:absolute;left:316.61px;top:536.27px" class="cls_008"><span class="cls_008">Nom :</span></div>
<div style="position:absolute;left:63.84px;top:548.03px" class="cls_008"><span class="cls_008">Prénom :</span></div>
<div style="position:absolute;left:316.61px;top:548.03px" class="cls_008"><span class="cls_008">Prénom :</span></div>
<div style="position:absolute;left:63.84px;top:559.79px" class="cls_008"><span class="cls_008">Nom du superviseur :</span></div>
<div style="position:absolute;left:316.61px;top:559.79px" class="cls_008"><span class="cls_008">Nom du superviseur :</span></div>
<div style="position:absolute;left:63.84px;top:571.55px" class="cls_010"><span class="cls_010">☐</span><span class="cls_008"> </span><span class="cls_007">Semaine complète</span></div>
<div style="position:absolute;left:316.61px;top:571.55px" class="cls_010"><span class="cls_010">☐</span><span class="cls_008"> </span><span class="cls_007">Semaine complète</span></div>
<div style="position:absolute;left:63.84px;top:583.91px" class="cls_008"><span class="cls_008">Date :</span></div>
<div style="position:absolute;left:316.61px;top:583.91px" class="cls_008"><span class="cls_008">Date :</span></div>
<div style="position:absolute;left:63.84px;top:595.55px" class="cls_010"><span class="cls_010">☐</span><span class="cls_008"> </span><span class="cls_007">Jours</span></div>
<div style="position:absolute;left:316.61px;top:595.55px" class="cls_010"><span class="cls_010">☐</span><span class="cls_008"> </span><span class="cls_007">Jours</span></div>
<div style="position:absolute;left:63.84px;top:607.91px" class="cls_008"><span class="cls_008">Date jour 1 :</span></div>
<div style="position:absolute;left:316.61px;top:607.91px" class="cls_008"><span class="cls_008">Date jour 1 :</span></div>
<div style="position:absolute;left:63.84px;top:619.67px" class="cls_008"><span class="cls_008">Nombre d’heures planifiées :</span></div>
<div style="position:absolute;left:316.61px;top:619.67px" class="cls_008"><span class="cls_008">Nombre d’heures planifiées :</span></div>
<div style="position:absolute;left:63.84px;top:631.43px" class="cls_008"><span class="cls_008">Date jour 2 :</span></div>
<div style="position:absolute;left:316.61px;top:631.43px" class="cls_008"><span class="cls_008">Date jour 2 :</span></div>
<div style="position:absolute;left:562.18px;top:631.91px" class="cls_012"><span class="cls_012">Design by</span></div>
<div style="position:absolute;left:63.84px;top:643.19px" class="cls_008"><span class="cls_008">Nombre d’heures planifiées :</span></div>
<div style="position:absolute;left:316.61px;top:643.19px" class="cls_008"><span class="cls_008">Nombre d’heures planifiées :</span></div>
<div style="position:absolute;left:63.84px;top:654.86px" class="cls_008"><span class="cls_008">Date jour 3 :</span></div>
<div style="position:absolute;left:316.61px;top:654.86px" class="cls_008"><span class="cls_008">Date jour 3 :</span></div>
<div style="position:absolute;left:63.84px;top:666.62px" class="cls_008"><span class="cls_008">Nombre d’heures planifiées :</span></div>
<div style="position:absolute;left:316.61px;top:666.62px" class="cls_008"><span class="cls_008">Nombre d’heures planifiées :</span></div>
<div style="position:absolute;left:63.84px;top:678.38px" class="cls_008"><span class="cls_008">Date jour 4 :</span></div>
<div style="position:absolute;left:316.61px;top:678.38px" class="cls_008"><span class="cls_008">Date jour 4 :</span></div>
<div style="position:absolute;left:63.84px;top:690.02px" class="cls_008"><span class="cls_008">Nombre d’heures planifiées :</span></div>
<div style="position:absolute;left:316.61px;top:690.02px" class="cls_008"><span class="cls_008">Nombre d’heures planifiées :</span></div>
<div style="position:absolute;left:63.84px;top:713.54px" class="cls_008"><span class="cls_008">Signature du demandeur :</span></div>
<div style="position:absolute;left:316.61px;top:713.54px" class="cls_008"><span class="cls_008">Signature du valideur :</span></div>
<div style="position:absolute;left:63.84px;top:737.42px" class="cls_008"><span class="cls_008">Validation hiérarchique :</span></div>
<div style="position:absolute;left:63.84px;top:749.18px" class="cls_008"><span class="cls_008">Nom:</span></div>
<div style="position:absolute;left:63.84px;top:760.94px" class="cls_008"><span class="cls_008">Date :</span></div>
<div style="position:absolute;left:63.84px;top:772.58px" class="cls_008"><span class="cls_008">Signature :</span></div>
<div style="position:absolute;left:36.84px;top:809.54px" class="cls_008"><span class="cls_008">Copyright © 2019 All right reserved</span></div>
</div>
</body>
</html>
