{% extends 'base.html.twig' %}

{% block title %}Pause{% endblock %}

{% block body %}
<div class="container">
    <h2>Gestion des récupérations</h2>
        <form method="POST" id="filterForm">
            <input type="text" class="datepicker" name="filter_date" value="{{ date_filter|date("d/m/Y") }}" id="filterInput">
        </form>

      <table class="centered">
        <thead>
          <tr>
              <th>NOM, Prénom</th>
              <th>Période</th>
              <th>Temps voulus</th>
              <th>Commentaire</th>
              <th>Etat</th>
              <th>Edition</th>
              <!--<th>Docs</th>-->
          </tr>
        </thead>

        <tbody>
            {% for recovery in recoveries %}
                {% set difference = (date(recovery.timeto).timestamp - date(recovery.timefrom).timestamp) / 60 %}
                <tr>
                    <td>{{recovery.userid.firstname}}, {{recovery.userid.lastname}} <a href="#modal-info-{{ recovery.userid.id }}" class="modal-trigger">?</a></td>
                    <td>Le <b>{{recovery.date|date("d/m/Y")}}</b> de <b>{{recovery.timefrom|date("H:i")}}</b> à <b>{{ recovery.timeto|date("H:i") }}</b></td>
                    <td>{{difference}}min</td>
                    <td>{{recovery.comment}}</td>
                    {% if recovery.status == 0 %}
                        <td><i class="material-icons orange-text">timer</i></td>
                    {% elseif recovery.status == 1 %}
                        <td><i class="material-icons green-text">check</i></td>
                    {% elseif recovery.status == 2 %}
                        <td><i class="material-icons red-text">close</i></td>
                    {% elseif recovery.status == 3 %}
                        <td><i class="material-icons gray-text">close</i></td>
                    {% endif %}
                    <td> <button data-target="modal-edit-{{ recovery.id }}" class="btn modal-trigger"><i class="material-icons">edit</i></button></td>
                    <!--<td>{% if recovery.status == 1 %}<a target="_blank" href="/admin/recovery/pdf/{{ recovery.id }}"><i class="material-icons">picture_as_pdf</i></a>{% endif %}</td>-->
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    {% for recovery in recoveries %}
        <div id="modal-edit-{{ recovery.id }}" class="modal">
        <div class="modal-content">
            <h4>Edition de la récupération</h4>
            <div class="row">
            <form method="POST" action="recovery/edit/{{ recovery.id }}">
                <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="name" disabled type="text" class="validate" value="{{recovery.userid.firstname}}, {{recovery.userid.lastname}}">
                    <label for="name">NOM, Prénom</label>
                </div>
                <div class="input-field col s6">
                    <select name="status">
                    <option value="0"{% if recovery.status == 0 %} selected{% endif %}>En attente</option>
                    <option value="1"{% if recovery.status == 1 %} selected{% endif %}>Validée</option>
                    <option value="2"{% if recovery.status == 2 %} selected{% endif %}>Refusée</option>
                    <option value="3"{% if recovery.status == 3 %} selected{% endif %}>Annulée</option>
                    </select>
                    <label>Etat de la récupération</label>
                </div>
                </div>
                <div class="row">
                <div class="input-field col s6"><div class="prefix">De</div><input type="text" name="timeFrom" class="timepicker" value="{{recovery.timefrom|date("H:i")}}"></div>
                <div class="input-field col s6"><div class="prefix">à</div><input type="text" name="timeTo" class="timepicker" value="{{ recovery.timeto|date("H:i") }}"></div>
                </div>
                
                <!-- TODO: Add last editor
                 <p class="center grey-text">
                    Dernière édition effectuée par Firstname, LASTNAME à 15:30 le 01/01/2000
                </p>
                 -->
                <button class="col s12 waves-effect waves-green btn-flat blue darken-1 white-text" type="submit">Sauvegarder</button>
            </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
        </div>
    {% endfor %}
    {% for user in users %}
        <div id="modal-info-{{ user.data.id }}" class="modal">
        <div class="modal-content">
            <h4>Information sur l'agent</h4>
            <ul class="collection with-header">
            <li class="collection-item"><div>NOM, Prénom<div class="secondary-content">{{user.data.firstname}}, {{user.data.lastname}}</div></div></li>
            <li class="collection-item"><div>Demande de récupération (30 derniers jours)<div class="secondary-content">{{ user.recovery_data.nb_30d }}</div></div></li>
            <li class="collection-item"><div>Demande de récupération (7 derniers jours)<div class="secondary-content">{{ user.recovery_data.nb_7d }}</div></div></li>
            <li class="collection-item"><div>Demande de récupération validée (30 derniers jours)<div class="secondary-content">{{ user.recovery_data.time_30d }} minutes</div></div></li>
            <li class="collection-item"><div>Demande de récupération validée (7 derniers jours)<div class="secondary-content">{{ user.recovery_data.time_7d }} minutes</div></div></li>
            </ul>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
        </div>
    {% endfor %}
</div>
{% endblock %}


  {% block js %}
  <script>
    $(document).ready(function(){
        inter_fr = {
          labelMonthNext: 'Mois suivant',
          labelMonthPrev: 'Mois précédent',
          labelMonthSelect: 'Selectionner le mois',
          labelYearSelect: 'Selectionner une année',
          months: [ 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre' ],
          monthsShort: [ 'Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Jun', 'Jul', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec' ],
          weekdaysFull: [ 'Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi' ],
          weekdaysShort: [ 'Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam' ],
          weekdaysLetter: [ 'D', 'L', 'Ma', 'Me', 'J', 'V', 'S' ],
          today: 'Aujourd\'hui',
          defaultDate: $(".datepicker").value,
          clear: 'Réinitialiser',
          close: 'Fermer',
          cancel: 'Annuler',
          done: 'Valider',
        }
        Date.prototype.addDays = function(days) {
            var date = new Date(this.valueOf());
            date.setDate(date.getDate() + days);
            return date;
        }
        date = new Date();
        $('.datepicker').datepicker({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 2, // Creates a dropdown of 15 years to control year
            i18n: inter_fr,
        	format: 'dd/mm/yyyy',
        });
      });
      $( "#filterInput" ).change(function() {
        $("#filterForm").submit()
      });
  </script>
  {% endblock %}