{% extends 'base.html.twig' %}

{% block title %}Pause{% endblock %}

{% block body %}
    <div class="container">
      <h2>Staff</h2>
      <table>
        <thead>

          <tr>
            <th>Username</th>
            <th>NOM, Prénom</th>
            <th>Responsable</th>
            <th>Niveau</th>
            <th>Etats</th>
            <th>Edition</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td>{{user.username}}</td>
              <td>{{user.firstname}}, {{user.lastname}}</td>
              <td>{% if user.n1 %} {{user.firstname}} {% endif %}</td>
              <td>ROLES</td>
              <td><i class="material-icons red-text">close</i></td>
              <td><a href="staff/edit/{{user.id}}"><i class="material-icons">edit</i></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
