{% extends 'base.html.twig' %}

{% block title %}Pause{% endblock %}

{% block body %}
<div class="container">
    <h2>Mes pauses</h2>
    
    <div class="row">
        <div class="col s12 m5">
        <div class="card-panel blue accent-1">
            <div class="row">
                <div class="col s2">
                    <i class="fas fa-info"></i>
                </div>
                <div class="col s10">
                    <span class="white-text">
                        Les pauses doivent être planifié dans cette outil.
                    </span><br>
                    <span class="white-text">
                        Pour rappel : 50% de votre pause doit être pris avant 17h.
                    </span><br>
                    <span>
                        <a href="#modal-break" class="modal-trigger">Plus d'infos ici...</a>
                    </span>
                    
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- Formulaire de demande de pause -->
    <h4>Faire une demande de pauses</h4>
    {{ form_start(form) }}
    {{ form_row(form.time) }}
    <button class="waves-effect waves-light btn" type="submit">valider</button>
    {{ form_end(form) }}
    {% for error in errors %}
        <div class="card-panel red lighten-4">
            <span class="red-text text-darken-4">Erreur : {{ error }}<br><br><i class="material-icons red-text text-darken-1">error</i></span>
        </div>
    {% endfor %}
    <!-- Vision des pauses disponible -->
    <h4>Pauses validé</h4>
    <ul class="collection with-header">
        {% for break in breaks %}
            <li class="collection-item"><div>{{ break.time|date("H:i") }}
                {% if break.time|date("H:i") > "now"|date("H:i") %}
                    <a href="/break/remove/{{ break.id }}" class="secondary-content"><i class="material-icons left">delete</i> Annuler</a>
                {% else %}
                <span class="secondary-content grey-text text-darken-2"><i class="material-icons">alarm_off</i></span> <span class="secondary-content grey-text text-darken-2"><i>Cette pause est passée </i></span>
                {% endif %}
            </div></li>      
        {% endfor %}
    </ul>
  </div>
{% endblock %}